.box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFF; 
    
}
.margin{
    background-color: #f3b9ab;
    padding: 6%;
    text-align: center;
    border-style: dashed;
    font-weight: bold;
    border-radius: 5px;
    width: 17%;
   
}
.border{
    border: 6px solid rgb(0, 0, 0);
    padding: 8%;
    background-color: aliceblue;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    
}
.padding{
    padding: 8px;
    background-color: rgb(196, 119, 173);
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
    border: 6px solid rgb(0, 0, 0)
}
.content{
    background-color: rgb(179, 156, 201);
    margin-top: 20px;
    padding: 10%;
    font-weight: bold;
    border-radius: 5px;
}
