body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

.box {
    display: inline-block;
}

.margin {
    margin: 40px;
    background-color: #f8d7da;
    padding: 25px;
    text-align:center;
    border-style: dashed;
}

.border {
    border: 5px solid #000000;
    background-color: #fff3cd;
    padding: 20px;
}

.padding {
    padding: 20px;
    background-color: #fdafb5;
   
}

.content {
    background-color: #ffffff;
    padding: 11px;
    
}
